body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#search-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%; /* 画面幅の80%に制限 */
    max-width: 400px; /* 最大幅を設定 */
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px; /* 見出しのフォントサイズを大きく */
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    font-size: 16px; /* ラベルのフォントサイズを調整 */
}

input[type="text"],
input[type="password"],
select,
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}




button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
}

button:hover {
    background-color: #45a049;
}

.uhome {
    background-color: #ccc;
    color: #333;
    margin-top: 10px;
}
