/* style3.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#column {
    margin: 20px auto;
    width: 80%;
    padding-bottom: 60px; /* Adjust the value based on the height of your footer */
}

ul#product-list {
    list-style: none;
    padding: 0;
}

ul#product-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

ul#product-list li img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

ul#product-list li p {
    margin: 10px 0;
}

ul#product-list li span {
    font-weight: bold;
    color: #4CAF50;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

/* 修正した部分 */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 修正した部分 */
footer button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* 修正した部分 */
footer button:hover {
    background-color: #45a049;
}

ul#product-list li p.product-name {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 128, 192); /* 任意の色に変更可能 */
    margin: 10px 0;
}

ul#product-list li p.genre {
    font-size: 16px;
    font-weight: bold;
    color: rgb(64, 128, 128); /* 任意の色に変更可能 */
    margin: 10px 0;
}
ul#product-list li img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    /* Add the following lines to set a fixed width and height for the images */
    width: 200px; /* Adjust the value based on your preference */
    height: 200px; /* Adjust the value based on your preference */
}
