/* style3.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
#map-container {
            text-align: center;
        }

        iframe {
            display: inline-block;
            margin: 0 auto;
        }

#column {
    margin: 20px auto;
    width: 80%;
}

ul#product-list {
    list-style: none;
    padding: 0;
}

ul#product-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

ul#product-list li a {
    text-decoration: none;
    color: #333;
}

ul#product-list li img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

footer button:hover {
    background-color: #45a049;
}