/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

#map-container {
    text-align: center;
}
.map-canvas {
    width: 90%; /* Adjust the width as needed */
    height: 500px;
    margin: 0 auto; /* Center the map within its container */
    border: 1px solid #ddd; /* Add a border for better visibility */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    overflow: hidden; /* Ensure that the map doesn't overflow its container */
}

iframe {
    display: inline-block;
    margin: 0 auto;
}

#column {
    margin: 20px auto;
    width: 80%;
    padding-bottom: 60px;
}

ul#product-list {
    list-style: none;
    padding: 0;
}

ul#product-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}

ul#product-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

ul#product-list li img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    width: 100%; /* 画像を親要素の幅に合わせる */
}

/* New style to limit the image size */
ul#product-list li img.product-image {
    max-width: 150px; /* Adjust the maximum width as needed */
    height: auto;
    margin-bottom: 20px;
    width: 100%; /* 画像を親要素の幅に合わせる */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

footer button:hover {
    background-color: #45a049;
}
