<!DOCTYPE html>
<html lang="en">
	<style>
    p {
        line-height: 180%;
}
    .head-title {
        width: 100%;
        background: #87CEEB;
        color: #fff;
        text-indent: 8px;
        font-weight: 700;
        line-height: 180%;
}
</style>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyDDgjsDidYAkfFuTWuD6YHkU6KBKB8TqIc"></script>
<script src="/js/geocode.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/uhome.css}">
    <script src="/js/Vitem.js"></script>
    <title>ホーム画面</title>
</head>
<body onload="initialize()">
    
    <div id="map-container">
    <select id="address">
        <option th:each="address : ${addresses}" th:value="${address}" th:text="${address}"></option>
    </select>
    <div id="map_canvas" class="map-canvas"></div>
</div>
      
</body>
<body>
	
     
     <div id="column" class="column05">
    <ul id="product-list" class="column03">
		<th:block th:each="storeRow : ${store}">
			<th:block th:each="item : ${items}">
			<th:block th:if="${storeRow['store_id'] == item['store_Id']}">
        <li>
		        <div>
    				<span>商品名:</span>
    				<span th:text="${item.productName}" style="color: red;"></span>
				</div>
		        <div>
				    <span>画像:</span>
				    <img th:src="'data:image/png;base64,' + ${item.imagePath}"class="product-image">
				</div>
				
				<div>
				    <span>値段:</span>
				    <span th:text="${item.price}"></span>
				</div>
				<div>
				    <span>値引き値段:</span>
				    <span th:text="${item.nebiki}"></span>
				</div>
				<div>
				    <span>ジャンル:</span>
				    <span th:text="${item.genre}"></span>
				</div>
				<div>
				    <span>賞味期限:</span>
				    <span th:text="${#dates.format(item.expirationDate, 'yyyy-MM-dd')}"></span>
				</div>
                
                <!-- 対応する店舗を表示 -->
                 <ul th:if="${store != null && !store.isEmpty()}">
               
                <th:block th:each="s : ${store}">
                    <div th:if="${s.store_id == item.store_Id}">
                        <a th:href="@{'/usd/' + ${s.Sname}}">
                             <span>取り扱い店舗:</span>
                             <button th:text="${s.Sname}"></button>
                        </a>
                        <!-- 他の店舗情報を表示 -->
                    </div>
                </th:block>
            </ul>
            </th:block>
            </th:block>
            </th:block>
        </li>
    </ul>
</div>
    <br>
    <br>
    <br>
<footer>
	<button class="usi" onclick="location.href='usi'">値引き品検索</button>
        <button class="uss" onclick="location.href='uss'">店舗検索</button>
        <button class="uhome" onclick="location.href='uhome'">リセット</button>
    
       
</footer>
</body>
</html>