<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/uhome.css}">
    <script src="/js/Vitem.js"></script>
    <title>ホーム画面</title>
</head>
<body>
	<div id="map-container">
	 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.8634268495603!2d140.5843038759996!3d35.85235226166316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022fbf03dda6bcf%3A0x95bca55a09cecfce!2z44OZ44Kk44K344Ki44OV44O844OJ44K744Oz44K_44O86aaZ5Y-W5bCP6KaL5bed5bqX!5e0!3m2!1sja!2sjp!4v1700012400334!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
     <div id="column" class="column05">
    <ul id="product-list" class="column03">
		<th:block th:each="storeRow : ${store}">
			<th:block th:each="item : ${items}">
			<th:block th:if="${storeRow['store_id'] == item['store_Id']}">
        <li>
		        <div>
    				<span>商品名:</span>
    				<span th:text="${item.productName}" style="color: red;"></span>
				</div>
		        <div>
				    <span>画像:</span>
				    <img th:src="'data:image/png;base64,' + ${item.imagePath}">
				</div>
				
				<div>
				    <span>値段:</span>
				    <span th:text="${item.price}"></span>
				</div>
				<div>
				    <span>値引き値段:</span>
				    <span th:text="${item.nebiki}"></span>
				</div>
				<div>
				    <span>ジャンル:</span>
				    <span th:text="${item.genre}"></span>
				</div>
				<div>
				    <span>賞味期限:</span>
				    <span th:text="${#dates.format(item.expirationDate, 'yyyy-MM-dd')}"></span>
				</div>
                
                <!-- 対応する店舗を表示 -->
                <ul th:if="${store != null && !store.isEmpty()}">
                <th:block th:each="s : ${store}">
                    <div th:if="${s.store_id == item.store_Id}">
                        <a th:href="@{'/usd/' + ${s.Sname}}">
                             <button th:text="${s.Sname}"></button>
                        </a>
                        <!-- 他の店舗情報を表示 -->
                    </div>
                </th:block>
            </ul>
            </th:block>
            </th:block>
            </th:block>
        </li>
    </ul>
</div>
    <br>
    <br>
    <br>
<footer>
	<button class="usi" onclick="location.href='usi'">値引き品検索</button>
        <button class="uss" onclick="location.href='uss'">店舗検索</button>
        <button class="uhome" onclick="location.href='uhome'">リセット</button>
    
       
</footer>
</body>
</html>