<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/usd.css}">
    <script src="/js/Vitem.js"></script>
    <title>店舗詳細</title>
</head>
<body>
	
	<h1>店舗詳細</h1>
    <table border="1">
    <thead>
        <tr>
            <th>店舗名</th>
            <th>開店時間</th>
            <th>閉店時間</th>
            <th>電話番号</th>
            <th>郵便番号</th>
            <th>県</th>
            <th>市</th>
            <th>住所</th>
            <th>番地</th>
            <th>外観</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop through each store in the model attribute "store" -->
        <tr th:each="storeRow : ${store}">
            <td th:text="${storeRow.Sname}"></td>
            <td th:text="${storeRow.example1}"></td>
            <td th:text="${storeRow.example2}"></td>
            <td th:text="${storeRow.Stel}"></td>
            <td th:text="${storeRow.postal_code}"></td>
            <td th:text="${storeRow.prefecture}"></td>
            <td th:text="${storeRow.city}"></td>
            <td th:text="${storeRow.address1}"></td>
            <td th:text="${storeRow.address2}"></td>
            <td>
                <!-- 外観画像を右側に表示する -->
                <img th:src="${storeRow.Simg}" alt="Store Image" width="100" height="100">
            </td>
        </tr>
    </tbody>
</table>
	<tbody>
		 <tr th:each="storeRow : ${store}">
    <div id="column" class="column05">
    <ul id="product-list" class="column03">
        <li th:each="item : ${items}" th:if="${storeRow.store_id == item.store_Id}">
            <div>
                <span>画像:</span>
         <img th:src="'data:image/png;base64,' + ${item.imagePath}">
            </div>
            <div>
                <span>商品名:</span>
                <span th:text="${item.productName}"></span>
            </div>
            <div>
                <span>値段:</span>
                <span th:text="${item.price}"></span>
            </div>
            <div>
                <span>ジャンル:</span>
                <span th:text="${item.genre}"></span>
            </div>
            <div>
                <span>賞味期限:</span>
                <span th:text="${#dates.format(item.expirationDate, 'yyyy-MM-dd')}"></span>
            </div>
        </li>
    </ul>
</div>
</tr>
</tbody>
<footer>
	<button type="button" onclick="history.back()">戻る</button>
        
    
       
</footer>
</html>