<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/usd.css}">
    <script src="/js/Vitem.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

    <title>店舗詳細</title>
</head>

<body>
    <div class="fixed-container">
        <h1>店舗詳細</h1>

        <div class="column04">
            <ul class="column02">
                <!-- Loop through each store in the model attribute "store" -->
                <th:block th:each="storeRow : ${store}">
                    <div class="store-details">
                       
                           <div class="image-column">
                                <span>外観:</span>
                                <a th:href="'data:image/png;base64,' + ${storeRow.Simg}" data-lightbox="group">
                                <img th:src="'data:image/png;base64,' + ${storeRow.Simg}" alt="外観画像">
                                </a>
                            </div>
                       
                       
                        <li>
                            <div>
                                <span>店舗名:</span>
                                <span th:text="${storeRow.Sname}"></span>
                            </div>
                            <div>
                                <span>営業時間:</span>
                                <span th:text="${storeRow.example1}"></span>
                                ～
                                <span th:text="${storeRow.example2}"></span>
                            </div>
                            <div>
                                <span>電話番号:</span>
                                <span th:text="${storeRow.Stel}"></span>
                            </div>
                            <div>
                                <span>郵便番号:</span>
                                <span th:text="${storeRow.postal_code}"></span>
                            </div>
                            <div>
                                <span>県:</span>
                                <span th:text="${storeRow.prefecture}"></span>
                            </div>
                            <div>
                                <span>市:</span>
                                <span th:text="${storeRow.city}"></span>
                            </div>
                            <div>
                                <span>町名.番地:</span>
                                <span th:text="${storeRow.address1}"></span>
                            </div>
                            <div>
                                <span>建物名:</span>
                                <span th:text="${storeRow.address2}"></span>
                            </div>
                             </li>
                        
                       
                    </div>
                </th:block>
            </ul>
        </div>

        <div class="column05">
            <ul class="column03">
                <!-- Loop through each store in the model attribute "store" -->
                <th:block th:each="storeRow : ${store}">
                    <!-- Loop through each item in the model attribute "items" -->
                    <th:block th:each="item : ${items}">
                        <!-- 特定の条件に基づいてHTMLを表示 -->
                        <th:block th:if="${storeRow['store_id'] == item['store_Id']}">
                            <li>
                                <!-- 商品の詳細を表示 -->
                                <a href="#">
                                    <div>
                                        <span>商品名:</span>
                                        <span th:text="${item.productName}" style="color: red;"></span>
                                    </div>
                                    <div>
                                        <span>画像:</span>
                                        <img th:src="'data:image/png;base64,' + ${item.imagePath}">
                                    </div>
                                    <div>
                                        <span>値段:</span>
                                        <span th:text="${item.price}"></span>
                                    </div>
                                    <div>
                                        <span>値引き値段:</span>
                                        <span th:text="${item.nebiki}"></span>
                                    </div>
                                    <div>
                                        <span>ジャンル:</span>
                                        <span th:text="${item.genre}"></span>
                                    </div>
                                    <div>
                                        <span>賞味期限:</span>
                                        <span th:text="${#dates.format(item.expirationDate, 'yyyy-MM-dd')}"></span>
                                    </div>
                                </a>
                            </li>
                        </th:block>
                    </th:block>
                </th:block>
            </ul>
        </div>

        <footer>
            <button class="uhome" onclick="window.history.back();">戻る</button>
        </footer>

        <!-- geocode.html のコンテンツを組み込む -->
        <div th:utext="${geocodeContent}"></div>
    </div>
</body>

</html>
