<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>検索画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div id="search-form">
        <header>
            <h1>商品検索</h1>
        </header>

        <form id="search-form-content">
            <div class="form-group">
                <label for="genre">ジャンル:</label>
                <select id="genre" name="genre">
                    <option value="米・雑穀・シリアル">米・雑穀・シリアル</option>
                    <option value="麺類">麺類</option>
                    <option value="野菜">野菜</option>
    <option value="水産物・水産加工品">水産物・水産加工品</option>
    <option value="肉・肉加工品">肉・肉加工品</option>
    <option value="タマゴ・チーズ・乳製品">タマゴ・チーズ・乳製品</option>
    <option value="果物">果物</option>
    <option value="惣菜・レトルト・冷凍">惣菜・レトルト・冷凍</option>
    <option value="豆腐・納豆・漬物">豆腐・納豆・漬物</option>
    <option value="パン">パン</option>
    <option value="ジャム・はちみつ">ジャム・はちみつ</option>
    <option value="粉類">粉類</option>
    <option value="乾物">乾物</option>
    <option value="ダイエットフード">ダイエットフード</option>
    <option value="缶詰・瓶詰">缶詰・瓶詰</option>
    <option value="調味料">調味料</option>
    <option value="洋菓子">洋菓子</option>
    <option value="和菓子">和菓子</option>
    <option value="菓子材料">菓子材料</option>
    <option value="スナック・駄菓子">スナック・駄菓子</option>
 	<option value="おつまみ・珍味">おつまみ・珍味</option>
 	<option value="ドライフルーツ">ドライフルーツ</option>
  </select>
            </div>
            <div class="form-group">
                <label for="productName">商品名:</label>
                <input type="text" id="productName" name="productName">
            </div>
            <div class="form-group">
                <label for="expirationDate">賞味期限:</label>
                <input type="date" id="expirationDate" name="expirationDate">
            </div>
            <div class="form-group">
                <label for="discountPrice">値引き価格:</label>
                <input type="number" id="discountPrice" name="discountPrice">
            </div>

            <div>
                <button type="button" onclick="search()">検索</button>
                <button type="button" onclick="goBack()">戻る</button>
            </div>
        </form>
    </div>

    <script>
        function search() {
            // 検索ロジックを追加してください
            // JavaScriptを使用してフォームの値を取得し、検索を実行することができます
        }

        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>