<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style2.css}">
    <title>データベース登録画面</title>
</head>
<body>
	<div>
      <form th:action="@{/VdbReg}" method="post">
		
                <label for="SSQL">SQL:</label>
                <textarea id="SSQL" name="SSQL" cols="50" rows="10" required>
               </textarea>
               
               	
          
        </form>
        <button class="Vhome" onclick="location.href='vhome'">戻る</button>
                <button type="submit">登録</button>
   	</div>
</body>
</html>