<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>ホーム画面</title>
</head>
<body>
	<div>
        <button class="StoreReg" onclick="location.href='vstoreReg'">店舗登録</button>
        <button class="DbReg" onclick="location.href='vdbReg'">DB登録</button>
        <button class="ItemList" onclick="location.href='vitemList'">値引き商品一覧</button>
        <button class="Vlogout" onclick="location.href='vlogin'"th:action="@{/vlogout}" method="post">logout</button>
        <p th:text="${id}">aaaa</p>
        
   	</div>
</body>
</html>