<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style4.css}">
    <script src="/js/Vitem.js"></script>
    <title>商品詳細画面</title>
</head>
<body>
    <div id="column" class="column05">
      
		<form th:action="@{/editItem}" method="post">
        <label for="Iname">商品名:</label>
        <input type="text" id="Iname" name="productName" th:value="${item.productName}" required>
        
        <label for="Iimg">商品イメージ:</label>
        <input type="file" id="Iimg" name="imagePath" required>
        
        <label for="Ipri">値段:</label>
        <input type="text" id="Ipri" name="price" th:value="${item.price}" required>
        
        <!-- Include a hidden input field for the item ID -->
        <input type="hidden" id="itemId" name="itemId" th:value="${item.id}">
        
         <a th:href="@{/vitemList}"class="button">戻る</a>
        <button type="submit">更新</button>
    </form>        
  
    </div>
    <footer>
		
     
    </footer>
</body>
</html>