<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <script src="/js/Vitem.js"></script>
    <title>商品一覧画面</title>
</head>

<body>
	
    <div id="column" class="column05">
		
		
		 <div th:if="${message}" class="alert alert-success" role="alert" id="popup">
            <p th:text="${message}"></p>
        </div>
        <ul id="product-list" class="column03">
            <!-- Iterate over the items and display them -->
       
				
        	<li th:each="item : ${items}">
        		<p class="product-name" th:text="${item?.productName}"></p>
        		<img th:src="'data:image/png;base64,' + ${item?.imagePath}" alt="商品画像">
        		<p class="genre" th:text="${item?.genre}"></p>
        		<p>賞味期限・<span th:text="${item?.expirationDate}"></span></p>
       			<p>希望小売価格・<span th:text="${item?.price}"></span>円</p>
        		<p>値引価格・<span th:text="${item?.nebiki}"></span>円</p>
        		<a th:href="@{'/viewItem/' + ${item?.id}}" class="button">詳細</a>
    		</li>
     
        </ul>
    </div>
    <footer>
        <button class="Vhome" onclick="location.href='vhome'">戻る</button>
        <button class="StoreReg" onclick="location.href='vitemReg'">新規値引き</button>
    </footer>
</body>

</html>
