<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style4.css}">
    <title>新規商品登録画面</title>
</head>
<body>
    <div id="column" class="column05">
     
    
        <form th:action="@{/vitemReg}" method="post" enctype="multipart/form-data" onsubmit="showPopup()">
            
            <label for="Ibar">バーコード:</label>
            <input type="text" id="Ibar" name="barcode" required>
            
           
           	<button class="Vhome" onclick="location.href='vitemList'">戻る</button>
            <button type="submit" onclick="showDetailButton()">検索</button>
            
            <div th:if="${message}" class="alert alert-success" role="alert" id="popup">
            	<p th:text="${message}"></p>
            	<button class="Vhome" onclick="location.href='vdbReg'">商品登録</button>  
        	</div>
          
           
          
        </form>
        
        
        <script>
       
            
        </script>
    </div>
</body>
</html>
