<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style5.css}">
    
    <title>システムサインイン</title>
</head>
<body>
    <div class="login-container">
        <h2>システムサインイン</h2>
        <form th:action="@{/vlogin}" method="post">
            <label for="loginid"></label>
            <input type="text" id="id" name="loginid" placeholder="ログインID" required>
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="パスワード" required>
            <button type="submit">ログイン</button>
        </form>
        <p th:text="${mozierror}"></p>
        <p th:text="${loginerror}"></p>
        <p th:if="${error}" style="color: red" th:text="${error}"></p>

        <!-- サインアップフォーム -->
       <button class="vsignup" onclick="location.href='vsignup'">サインアップ</button>
    </div>
</body>
</html>